@model CustomsERP.Core.Shipment

<h1>Shipment</h1>

<table class="table">
    <thead>
    <tr>
        <th>MRN</th>
        <th>Exporter</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
   
        <tr>
            <td>@shipment.MRN</td>
            <td>@shipment.Exporter.Name</td>
            <td>@shipment.Receiver.Name</td>
            <td>@shipment.ShippingCompany.Name</td>
            <td>@shipment.Port.PortCode</td>
            <td>@shipment.Warehouse.WarehouseCode</td>
            <td>@(shipment.Dv1Exists ? "Yes" : "No")</td>
            <td>@shipment.DateCreated</td>
            <td><a asp-controller="Shipment" asp-action="Update" asp-route-id="@shipment.Id">✎</a></td>
            <td><a asp-controller="Shipment" asp-action="Delete" asp-route-id="@shipment.Id">❌</a></td>
        </tr>
    }
    </tbody>
</table>

<a asp-controller="Shipment" asp-action="Create">Create New Shipment</a>